* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

input,
label,
select,
textarea,
button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

input {
    width: 100%;
    padding: 0.8rem 1.4rem;
    background: #efedec;
    border-radius: 1rem;

    &:focus-within {
        background: white;
        box-shadow: 0 0 7px 2px rgba(25, 40, 155, 0.3);
    }
}

button {
    cursor: pointer;
    padding: 1rem 2.2rem;
    border-radius: 0.7rem;
}

@media screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}
